        <!-- partial -->
        @{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
        <div class="main-panel">
          <div class="content-wrapper">



            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Home 
              </h3>
            </div>



            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" > Hi Samar Algammal </h4>    
                      <br />
                        <br />
                         <h4 class="card-title">Perple Website Helps You To Make Your Reseme easily </h4>
                           <br />
                            <br />
                              <h4 class="card-title"> You Can See an Example For The Resemes </h4>  
                               <div class="agileits-top">
				        	  <a  asp-controller = "Home" asp-action = "Reseme" class="btn btn-primary"  >Reseme</a>
			           	   </div>                           
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>


             
           
